<script>

  const greenSurveyChart00 = document.getElementById('hogswood-green-survey-chart00')

  new Chart(greenSurveyChart00, {
    type: 'bar',
    data: {
      labels: [
        'Walk',
        'Walk the dog',
        'Sit and relax',
        'Allow our children to play there',
        'Look at plants and wildlife',
        'Forage wild food or collect fruit',
        'Something else',
      ],
      datasets: [{
        label: 'Respondents',
        data: [
          32,
          21,
          9,
          13,
          37,
          16,
          10,
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  })

  const greenSurveyChart01 = document.getElementById('hogswood-green-survey-chart01')

  new Chart(greenSurveyChart01, {
    type: 'bar',
    data: {
      labels: [
        'A community food growing… ',
        'A community hub for learning… ',
        'Allotments over part of the… ',
        'A designated nature reserve ',
        'Interpretation boards about… ',
        'A children\'s play area ',
        'Improved paths ',
        'Benches ',
        'Interpretation board about ',
        'A clean up ',
        'A housing development over… ',
        'A mixed use development… ',
        'A large car park across the… ',
        'Lighting ',
        'Nothing ',
      ],
      datasets: [{
        label: 'Respondents',
        data: [16,
          21,
          27,
          49,
          32,
          18,
          19,
          24,
          21,
          23,
          3,
          5,
          7,
          6,
          8,],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  })


</script>
